body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
    background-image: url('resources/images/background.svg');
    background-repeat: no-repeat;
    background-position: left bottom !important;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/**
 * HACK fix Obnoxious bug
*/
body>div:not(#root):not(.modal):not(.modal-backdrop) {
    display: none;
}

a.nav-link {
    cursor: pointer;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

section.App {
    padding: 0;
    margin: 0;
}

article {
    max-width: 800px;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}

.word-wrap {
    word-wrap: break-word;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.margin-auto {
    margin: auto;
}

.margin-auto-vertical {
    margin: auto 0;
}

.margin-auto-horizontal {
    margin: 0 auto;
}

.space-bottom {
    margin-bottom: 100px;
}

.loader-center {
    text-align: center;
    margin: 20px;
}

@media screen and (max-width: 768px) {
    .text-xs-center {
        text-align: center;
    }

    .hide-mobile {
        display: none;
    }

    ol.breadcrumb {
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .hide-mobile-xxs {
        display: none;
    }
}

@media (min-width: 992px) {}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

@media screen and (max-width: 992px) {
    .App.mobile-nav-active {
        overflow: hidden;
    }

    .App.mobile-nav-active #header {
        left: 0;
    }
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.table thead tr {
    border-top: none;
    border-left: none;
}

.table thead tr th {
    border-left: none;
    border-right: none;
}

.table tbody tr td {
    border-left: none;
    border-right: none;
}

.react-bootstrap-table th>.react-bootstrap-table-sort-order>.caret {
    margin: 10px 6.5px;
}

th.sortable {
    cursor: pointer;
}

th span.caret-4-desc::after,
th span.order-4::after {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -.125em;
    margin-left: 5px;
}

th span.caret-4-desc::after {
    content: "\f229";
}

th span.caret-4-asc::after {
    content: "\f235";
}

th span.order-4::after {
    content: "\f22c";
}

.dropdown,
.dropup {
    position: relative
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px dashed;
    border-bottom: 4px solid\9
}

@media screen and (max-width: 768px) {
    .react-bootstrap-table-pagination.row>* {
        width: auto;
        margin: 0 auto;
    }
}
